# Binarios compilados locales
*.exe
*.dll
*.pdb

# Archivos de depuración y temporales
csc_out.txt
*.bat
*.ps1
*.pfx
*.cer
*.txt
.idea/
.vs/
bin/
obj/

# Apple Security Credentials
*.key
*.p12
*.cer
*.mobileprovision
INTERNAL_ROADMAP.md
client/
panel/
panel_astro/
server/
.github/
index_sv1.js
minify.js
system_mapping.md
favicon.ico
logo-texto-blanco.*
*.json
*.py
